/**
 * @name Rounded
 * @description Rounded Edges.
 * @author Pooki
 * @version 1
 * @source https://github.com/refact0r/midnight-discord
 * @authorId LukaePooki@gmail.com
*/

:root {
	/* add rounded corners */
.container-2cd8Mz /* homepage */,
.content-1SgpWY .sidebar-1tnWFu /* server list back */,
.callContainer-HtHELf /* vc */,
.container-3XgAHv /* vc chat */ {
	border-radius: var(--roundness) !important;
	overflow: hidden;
}
.chatContent-3KubbW /* main chat */,
.container-2o3qEW /* members list back */,
.members-3WRCEx /* members list */ {
	border-radius: 0 0 var(--roundness) var(--roundness);
}

/* rearrange toolbar */
.iconWrapper-2awDjA[aria-label='Help'] {
	display: none;
}
.iconWrapper-2awDjA[aria-label*='Member List'] {
	order: 1;
}
.search-39IXmY {
	order: 1;
	margin-left: 30px;
}
.searchBar-jGtisZ {
	width: 208px !important;
	padding: 0px 2px;
}
.searchResultsWrap-5RVOkx {
	width: 470px;
}

/* add margins */
.base-2jDfDU /* outside edges */ {
	padding: 0px 10px 10px 0;
}
.container-2cd8Mz /* friend list*/,
.chat-2ZfjoI /* main chat */,
.applicationStore-2nk7Lo /* nitro page */ {
	margin-left: 10px;
}
.content-1jQy2l /* between chat and member list */ {
	gap: 10px;
}
.resizeHandle-PBRzPC /* pretend to be a margin */ {
	width: 10px;
}

	--roundness: 16px;
}
